/* CSS definition file containing site stylesheet */
body {
    background-color: firebrick;
}
#content {
    width:100%; margin-left:auto;margin-right:auto;    position: relative;
}

a, a:hover{
    color:inherit;
}
a:hover{
    color:inherit;
}

.inner-body{
    background-color:#FFF;
    padding:2em;
}

.icon{
    z-index: 15;
}

.fill-parent{
    width:100%;
    height:100%;
}

#icon-container img{
    margin-top:0.5em;
    width:3em;
    height:3em;
}
#icon-container div{
}

#icon-container{
    display:inline;
}


#footer {font-size: small; font-style:italic;text-align:center;}
.row>div {margin-bottom:10px;}