/* CSS definition file containing site stylesheet */
body {
    background-color: firebrick;
}
#content {
    width:100%; margin-left:auto;margin-right:auto;    position: relative;
}

a, a:hover{
    color:inherit;
}
a:hover{
    color:inherit;
}

.inner-body{
    margin:4em;
    width: 80em;
    background-color:#FFF;
    padding-top:8em;
    padding-left:2em;
    padding-right:2em;
}

.icon{
    position: absolute;
    top:-3em;
    left:0px;
    z-index: 15;
    display:block;
}

div.icon{
    background:no-repeat url("/assets/images/logo.png") left;
    width:17em;
    height:130px;
}

.fill-parent{
    width:100%;
    height:100%;
}

#icon-container{
    display:block;
    text-align:right;
    margin:0em;
}


#icon-text{
    margin-top:36%;
}

#footer {font-size: small; font-style:italic;text-align:center;}
.row>div {margin-bottom:10px;}